# =========================
# Maven / Gradle
# =========================
target/
build/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# Spring Boot / Logs
# =========================
*.log
logs/
HELP.md

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iws
*.iml
*.ipr
out/

# =========================
# Eclipse / STS
# =========================
.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

# =========================
# NetBeans
# =========================
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment & Secrets
# =========================
.env
